{% extends "index.html" %}
{% from "macros/makeProject.html" import makeProject %}
{% block content %}

</br>
<h1 id="aboutme"> <i class="fas fa-user fa-lg"></i> About me </h1>
<p> 
    My name is <strong> Carlos Cerritos Lira </strong>. I'm currently studying a <strong> BS in Data Science</strong> 
    at the <a href="https://en.wikipedia.org/wiki/National_Autonomous_University_of_Mexico">
    <strong> <u> National Autonomous University of Mexico</strong></u></a> in the
    <a href="https://en.wikipedia.org/wiki/Instituto_de_Investigaciones_en_Matem%C3%A1ticas_Aplicadas_y_Sistemas"><u><strong> 
    Applied Mathematics and Systems Research Institute</strong></u></a> with expected graduation in <strong> June 2022 </strong>. 
    I enjoy solving problems using data, topics like math, physics and competitive programming.
</p>
<h1 id="resume"> <i class="far fa-file fa-lg"></i> Resume </h1>
<p>
    Click below to download my resume in pdf format.</br>
    <center style="font-size: 20px;">
        <a href="https://github.com/carloscerlira/Portfolio/raw/master/data/cv.pdf">
            <i class="fas fa-download"></i>
            Download
        </a>
    </center>
</p>
<h1 id="projects"> <i class="fas fa-rocket fa-lg"></i> Projects </h1>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        {% for project in projectsData %}
        <tr>
            <td>
                {{ makeProject(project) }}
            </td>
        </tr>  
        {% endfor %}
        </tbody>
    </table>
</div>

<h1 id="contact"> <i class="fas fa-users fa-lg"></i> Contact </h1>
<p>
    Below are my contact pages. If you wish to contact click any of them.
</p>
<center>
    <a href="mailto:carloscerlira@gmail.com">
        <p style="font-size: 25px;">
            <i class="fas fa-envelope"></i> /carloscerlira
        </p>
    </a>
    <a href="https://www.linkedin.com/in/carlos-lira-7a72441a2/">
        <p style="font-size: 25px;">
            <i class="fab fa-linkedin-in"></i> /carloscerlira
        </p>
    </a>
    <a href="https://github.com/carloscerlira">
        <p style="font-size: 25px;">
            <i class="fab fa-github"></i> /carloscerlira 
        </p>
    </a>
    <a href="https://www.kaggle.com/carloslira">
        <p style="font-size: 25px;">
            <i class="fab fa-kaggle"></i> /carloscerlira 
        </p>
    </a>

</center>
{% endblock %}